<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Como programador Junior, soy proactivo y autodidacta, lo que me permite enfrentar desafíos con entusiasmo y
            aprender de manera independiente. Mi pasión por la programación me impulsa a buscar constantemente nuevas
            habilidades y conocimientos para mejorar mis habilidades técnicas. Estoy siempre dispuesto a asumir
            responsabilidades adicionales y colaborar en equipo para lograr los objetivos del proyecto. Además, tengo la
            capacidad de adaptarme rápidamente a los cambios y de resolver problemas de manera efectiva. Mi enfoque
            orientado a resultados y mi actitud positiva me ayudan a mantenerme motivado y a aportar ideas creativas al
            equipo. Estoy emocionado por seguir desarrollándome como programador y contribuir con mi entusiasmo y
            dedicación a proyectos innovadores.</p>
    </div>
</section>