<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas app</title>
</head>

<body>
    {{{body}}}
<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de Notas Nodejs and Mongodb</h1>
    <p class="lead">Crea tu usuario y dizfruta de esta app que va a facilitar tu trabajo</p>
    <hr class="my-4">
    <p>Podes encontrarme a un solo click de distancia!!!</p>
    <a href="https://www.linkedin.com/in/mario-javier-ariel-barrera-801660129/" class="btn btn-primary">Linkedin</a>
</div>
</body>

</html>