<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <img src="/img/404-page-not-found-illustration-2048x998-yjzeuy4v.png" alt="Not Found">
      <h1>Not Found</h1>
      <p>This page does not exists</p>
      <a href="/">Return to home</a>
    </div>
  </div>
</div>